/* GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: crimson;
    text-align: center;
}

body h1, h2 {
    color: #fff;
}

/* HEADER */
header {
    padding: 20px 0;
}

/* MAIN */

/* container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.container_block {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px 0;
}

.form {
    border-radius: 15px;
}